*.pyc
*.log
.*.swp
.dropbox.attr
.ipynb_checkpoints
.cache

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
logs/

.vscode/
playgrounds/.vscode/
playgrounds/out*